.topic{
    margin-top: 100px;
    background: #fff;
    .title{
        display: inline-block;
        font-size: 0.7rem;
        font-weight: bold; 
    }
     .right{
        vertical-align: middle;          
        .authorname{
            font-weight: 600;
        }
    }
    .am-list-body{
        border-top: none;
    }
}
.ActivityIndicator{
    position: absolute;
    left: 35%;
    top: 30%;
}